<div class="row mdl-card mdl-shadow--4dp">
  <div>Login</div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text">
    <label class="mdl-textfield__label" for="sample3">Username</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password">
    <label class="mdl-textfield__label" for="sample3">Password</label>
  </div>

  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="reset">Clear</button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" routerLink="/cups"> Login </button>
  </div>
</div>