<form action="#" class="container mdl-card mdl-shadow--4dp">
  <div class="mdl-textfield">Add a new cup!</div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" [(ngModel)]="title" name="title">
    <label class="mdl-textfield__label" for="sample3">Title</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" [(ngModel)]="size" name="size">
    <label class="mdl-textfield__label" for="sample3">Size of the Cup</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" [(ngModel)]="image" name="image">
    <label class="mdl-textfield__label" for="sample3">Image Link</label>
  </div>

  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" routerLink="/cups">Cancel</button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="reset">Clear</button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"> Add New Cup </button>
  </div>
</form>